body {
    max-width: 1670px;
    background-color: bisque;
    font-family: "Roboto", sans-serif;
}

.header__container {
    max-width: 1670px;
    height: 200px;
    align-content: center;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.main__container {
    max-width: 1670px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__blok {
    width: 600px;
    height: 600px;
    order: 1;
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 25px;
    overflow: auto;
}

.left__block {
    width: 300px;
    height: 600px;
    order: -1;
    padding: 5px;
    margin: 5px;
}

.right__block {
    width: 300px;
    height: 600px;
    order: 2;
    padding: 5px;
    margin: 5px;
    color: black;
    font-size: 22px;
}